<!DOCTYPE html>
<html lang="ro">

<head>
    <title>Despre noi</title>
    <link rel="stylesheet" type="text/css" href="/resurse/css/eroare.css">
    <%- include("../fragmente/head.ejs"); %>
</head>

<body>

    <%- include("../fragmente/header.ejs"); %>

        <main>
            <div id="main-container">
                <section id="about-container">
                    <h1>Despre noi</h1>
                    <p id="about-para">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec velit ut augue dapibus
                        convallis vitae nec sem.
                        Cras et ante non dui aliquet rhoncus. Curabitur luctus diam quis nulla efficitur eleifend.
                        Mauris condimentum finibus eros a viverra. Maecenas faucibus neque justo, non ultricies
                        lectus rutrum in.
                        Fusce non tellus felis. Aenean sed tristique nisl.</p>
                    <p>
                        Interdum et malesuada fames ac ante ipsum primis in faucibus.
                        Pellentesque imperdiet non est maximus finibus. Quisque at risus ut tortor rhoncus ornare.
                        Donec eget turpis nibh. Vivamus et ligula fermentum, lobortis ipsum id, dignissim ex.
                        Sed pretium rhoncus odio sit amet rhoncus. Vestibulum ex.
                    </p>
                </section>
            </div>
        </main>

        <%- include("../fragmente/footer.ejs"); %>


</body>

</html>