<!DOCTYPE html>
<html lang="ro">

<head>
    <title>Camera Obscura</title>
    <meta name="description"
        content="Camera Obscura ofera o varietate de echipamente fotografice, in special camere si obiective, cu optiunea de achizitie online si livrare prin curier.">
    <meta name="keywords"
        content="magazin, camera, camera foto, aparat foto, aparat mirrorless, dSLR, mirrorless, fotografie, obiectiv, obiective, Canon, Nikon, Sony, Fujifilm, galerie foto">

    <%- include("../fragmente/head.ejs") %>

</head>

<body>
    <%- include("../fragmente/header.ejs") %>

    <main>
        <div class="container-reflexie">
            <span class="text-principal">Galerie Imagini</span>
            <span class="text-reflexie">Galerie Imagini</span>
        </div>

        <p></p>

        <%- include("../fragmente/galerie.ejs") %>
    </main>

    <%- include("../fragmente/footer.ejs") %>

</body>

</html>