    <footer id="subsol">
        <div id="footer-container">
        <a href="#" title="mergi sus" id="link-top-bot">Inapoi la start</a>
        <address>
            Strada Popa Tatu, nr. 10, București, sector 2, România
            <a href="https://maps.app.goo.gl/ybYs32qWYR1aRera9" target="_blank"> <i
                    class="fa-solid fa-location-pin"></i> </a>
            <br>
            E-mail: <a href="mailto:example@gmail.com" target="_blank">David</a> <br>
            Telefon: <a href="tel:+40721111111" target="_blank">+40721111111</a> <a href=" https://wa.me/40721111111"
                target="_blank">Whatsapp</a> <br>
        </address>
        <small>Copyright Stan David &copy; <time datetime="2026-03-07">7 Martie 2026</time></small>
        </div>

        <a href="#" id="link-top">
            <div id="triunghi"><p>&#5123;</p></div>
        </a>

    </footer>