<footer id="subsol">
    <div id="footer-container">
        <a href="#" title="mergi sus" id="link-top-bot">Inapoi la start</a>
        <address>
            Strada Popa Tatu, nr. 10, București, sector 2, România
            <a href="https://maps.app.goo.gl/ybYs32qWYR1aRera9" target="_blank"> <i
                    class="fa-solid fa-location-pin"></i> </a>
            <br>
            E-mail: <a href="mailto:example@gmail.com" target="_blank">David</a> <br>
            Telefon: <a href="tel:+40721111111" target="_blank">+40721111111</a> <a href=" https://wa.me/40721111111"
                target="_blank">Whatsapp</a> <br>
        </address>

        <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6323.567430135374!2d26.0988795652323!3d44.4358714506035!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff472f47f047%3A0x493984726f0235f9!2sFaculty%20of%20Mathematics%20and%20Computer%20Science!5e0!3m2!1sen!2sus!4v1772996148714!5m2!1sen!2sus"
            width="400" height="250" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        <br><br>
        <div id="banner">Acesta este un proiect scolar!</div>
        <small>Copyright Stan David &copy; <time datetime="2026-03-07">7 Martie 2026</time></small>
    </div>

    <a href="#" id="link-top">
        <div id="triunghi">
            <p>&#5123;</p>
        </div>
    </a>

    <p id="watermark"></p>

</footer>