<header>
    <nav>
        <label id="hamburger" for="ch-menu">
            <img src="resurse/Imagini/hamburger-menu-light.png" alt="menu">
        </label>
        <input type="checkbox" id="ch-menu">

        <ul class="meniu">
            <li>
                <div class="imag-icon" id="acasa-mediu">
                    <span class="fa-solid fa-bounce fa-house"></span>
                </div>
                <div class="text-icon" id="acasa">Acasa</div>
                <ul>
                    <li><a href="/#welcome">Bine ati venit</a></li>
                    <li><a href="/#promotii">Promotii</a></li>
                    <li><a href="/#anunturi">Anunturi</a></li>
                    <li><a href="/#orar">Orar</a></li>
                    <li><a href="/#index-intrebari">Întrebări frecvente</a></li>
                </ul>


            </li>
            <li>
                <div>
                    <a href="/#produse"> <i class="fa-solid fa-camera"></i> Produse</a>
                </div>
                <ul>
                    <li><a href="/#camere-mi">Camere <i>Mirrorless</i></a></li>
                    <li><a href="/#camere-dslr">Camere <i><abbr title="digital Single Reflex Camera">dSLR</abbr></i></a>
                    </li>
                    <li><a href="/#camere-bridge">Camere <i>bridge</i></a></li>
                </ul>
            </li>
            <li><a href="#subsol"><i class="fa-regular fa-envelope"></i> Contact</a></li>
            <li><a href="/despre">Despre noi</a></li>
        </ul>
    </nav>
</header>